#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}


.slick-dots {
  bottom: -40px;
}


.slick-dots li button:before {
  font-size: 16px;  
  color: #666;         
  opacity: 0.6; 
  transition: all 0.3s;
}


.slick-dots li.slick-active button:before {
  color: #1890ff;
  opacity: 1;
  font-size: 20px;    
}

.slick-dots li {
  margin: 0 6px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
